ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(138, 123, 123);
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 14px 16px;
}


li a:hover:not(.active){
    background-color: black;
    color: white;
}

.active{
    background-color: #04AA6D;
    color: black;
}

@media screen and (max-width:1000px) {
    li{float: none;}
}
    
