ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(121, 126, 131);
    overflow: hidden;
}

li a, .drpbtn{
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 18px;
}

li a:hover, .drpbtn:hover{
    background-color: black;
    color: white;
}

li{
    float: left;
}

.dropdown:hover .dropdown-content{
     display: block;
}

.dropdown-content{
    position: absolute;
    display: none;
    background-color: rgb(112, 183, 255);
    min-width: 116px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.dropdown-content a:hover{
    background-color: blue;
    color: black;
}